{% extends "base.html" %}
{% block nav %}
<li><a href="/{{login.lower()}}">{{login}}</a></li>
{% endblock %}
{% block content %}
<div class="header">
  <h2>Welcome, {{username}}</h2>
</div>
<div class="user_info">
{% if not blogs %}
<h4>You have not created any blogs yet</h4>
{% else %}
 <h4>Blogs you have created</h4>
 <ul class="blogslist">
{% for blog in blogs %}
  <a href="/blogpage/{{blog.key().id()}}">
    <li>{{blog.title}}</li>
  </a>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
</div>
